<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose your drink!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let item of coktailList; index as i">
    <ion-card-header>
      <ion-card-title>{{item.strDrink}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="{{item.strDrinkThumb}}" alt="3px" />
      <div class="component">
        <h1 class="left">Ingrediants</h1>
        <ion-list>
          <ion-item>
            <ion-label class="component2">{{item.strIngredient1}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="component2">{{item.strIngredient2}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="component2">{{item.strIngredient3}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="component2">{{item.strIngredient4}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="component">
        <h1 class="left">Type of drink</h1>
        <ion-list>
          <ion-item>
            <ion-label class="type">{{item.strAlcoholic}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="type">{{item.strCategory}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button class="add" color="success">Add</ion-button>
        <ion-button class="remove" color="danger">Remove</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
