ion-title {
  text-align: center;
}

ion-card-title {
  text-align: center;
}
ion-content {
  --background: #d6d6d6;
  ion-header {
    --background: #d6d6d6;
  }
  ion-toolbar {
    --background: #d6d6d6;
  }
}
