ion-content {
  --background: linear-gradient(#a9a9a9, #eeeeee);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
}
.title {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  font-family: cursive;
  margin-top: 30%;
}

.drink {
  height: 100%;
  width: 100%;
}
