<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-searchbar
      debounce="1000"
      (ionChange)="getData($event)"
    ></ion-searchbar>
  </ion-toolbar>

  <ion-card *ngFor="let item of coktailList">
    <ion-card-header>
      <ion-card-title>{{item.strDrink}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="{{item.strDrinkThumb}}" alt="10px" />
    </ion-card-content>
  </ion-card>
</ion-content>
